.postBanner {
  width: 100%;
}


.postHeader {
  margin-top: 5rem;

  h1 {
    color: var(--heading);
    margin-bottom: 1.5rem;

    font-size: 3rem;
    line-height: 3.625rem;
  }

  ul {
    display: flex;
    justify-content: left;
    list-style-type: none;

    li {
      display:flex;
      align-items: center;
      margin-right: 1.5rem;

      svg{
        font-size: 1rem;
        margin-right: 0.25rem;
      }

      span {
        font-size: 0.75rem;
      }
    }
  }
}

.postArticle {
  margin: 4rem auto;

  section {
    h2 {
      margin-top: 4rem ;
      margin-bottom: 2.5rem;
      font-size: 2.25rem;
      line-height: 3.125rem;
      color: var(--heading);
    }

    div {
      p, span, a, ul {
        font-size: 1.125rem;
        line-height: 1.875rem;
        margin: 1.8rem 0;
      }

      p {
        text-align: justify;
      }

      a {
        color: var(--highlight)
      }

      strong {
        font-weight: 700;
        color: var(--body);
      }

      ul {
        padding-left: 1.5rem;

        li {
          margin: 0.5rem 0;
        }
      }
    }
  }
}

.navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: 2px solid var(--border);
  margin-bottom: 5rem;

  h3 {
    font-size: 1.125rem;
    font-weight: 400;
    color: var(--heading);
    margin-bottom: 0.5rem;
  }

  a {
    color: var(--highlight);
    font-weight: 600;
  }

  div {
    padding-top: 3rem;
  }

  div + div {
    text-align: right;
  }
}
